
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin : 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header, footer {
    text-align: center;
}

main {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-area: 1fr;
}

article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#playGround {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.field {
    flex: 0 0 30%;
    aspect-ratio: 1 / 1;
    background-color: #eee;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;

    -webkit-user-select: none;
    user-select: none;
}